
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body background="~/Content/image/404.jpg">
    <div>
        <font size="7"><p style="color:#02ff02; margin-top:21%;" align="center">Перевірте коректність введених вами даних, якщо проблема з нашої сторони, то ми її скоро вирішимо.</p></font>
    </div>
</body>
</html>
