
@{
    ViewBag.Title = "Regulations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="name_page">Правила</h3>

<p>
    - Создавать вопросы в темах, к которым они относятся.<br>
    - Не создавать одинаковые вопросы в одной и той же теме.<br>
    - Не создавать вопросы, которые не относятся к тематике форума.<br>
    - Не публиковать заведомо ложную информацию.<br>
    - Не рекламировать товары и услуги без специального разрешения администрации сайта.<br>
    - Запрещается использовать и публиковать материалы запрещенные авторским правом, материалы содержащие пропаганду, розжиг межнациональной розни, личные данные.<br>
    - Быть вежливым при общении.<br>
    - Сообщения, а также Логины, название Email-содержащие нецензурную лексику и оскорбления в адрес пользователей сайта, а также не соблюдения правил выше, может привести к удалению или исправлению ваших сообщений, или любой другой информации которую можно опубликовать на сайте.<br>
    - В системе сайта работает механизм, который отслеживает сколько раз, такие сообщения были заблокированные, при достижении некоторого порога, если пользователь продолжает нарушать правила форума его аккаунт будет удален, также администрация при постоянных нарушениях  может сама блокировать аккаунт пользователя.<br>
    - Правила могут меняться и быть отредактированы в любое время администрацией сайта.
</p>