@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("ListThemas", "Home")

@if (ViewBag.id == 0)
{
    <style>
        .info {
            background-color: #9e9e9e26;
            z-index: 1;
            padding:1px;
        }
        .video {
            z-index: 2;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
    </style>
    <div class="info">
        <h4 align="center">
            <b>
                <i>
                    Научиться можно только тому, что любишь.<br>

                    - Гёте И.
                </i>
            </b>
        </h4>

        <br />

        <p align="center"><iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/NOVaNe3jx6c?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
    </div>
    <br />

    <h4 align="center">О сайте</h4>

    <p>
        Основная идея нашего сайта это показать, что обучиться программированию может любой человек, не зависимо от его образования и опыта, сайт ориентирован
        в первую очередь на людей, которые никогда не имели дело с программированием, или только в начале своего пути и имеют базовые знания.
    </p>
    <br />

    <p>Что бы достичь поставленной цели мы разработали собственный подход к подаче материала. </p>

    <p>1.Легкий старт.</p>

    <p>
        Вначале курса материал излагается максимально просто и понятно. Где это возможно, мы стараемся использовать простые понятия, не затрагивая сложных терминов.
        Некоторую информацию мы обобщаем с целью базового понимания сложных конструкций и механизмов и только после того когда у вас сформировалась базовая картина
        происходящего по мере продвижения курса материал усложняется, где те или иные процессы рассматриваются более глубоко.
    </p>

    <p>2.Лучшее обучение это практика.</p>

    <p>
        Усвоить и понять материал, можно только программируя. Минимум теоретического материала – только самое главное. К каждой теме, после теории вас ждет
        несколько задач, решение которых поможет вам осмыслить теоретический материал. Что бы активизировать свою память, вам будет предложено пройти не большой
        тест, который даст вам понять, на сколько, хорошо вы изучили теорию и понимаете материал. Третий этап это примеры решения задач. Здесь вы найдете решения
        тех задач, которые были даны в конце теории, это дает вам возможность проверить, как вы справились с ними, а также другие возможные задачи, которые помогут
        вам увидеть примеры использования изученного материала на практике.
    </p>

    <p>3.Самостоятельная работа.</p>

    <p>
        По началу у вас может быть возникнуть много вопросов, это нормально. Часть ответов вы найдете в этих курсах, но многое вам придется искать самим.
        Невозможно основательно изучить какой либо новый материал, используя только единый источник. Материал специально выкладывается в таком стиле, что бы у
        вас возникали вопросы, и вы хотели сами дойти до истины, разобраться в теме более глубоко. Одной из целей любой образовательной программы, должно быть,
        научить вас учиться самостоятельно, если после прохождения курса вы не в состоянии решить сами задачу, найти нужный материал в интернете, то такой курс менее
        эффективен. Помните, что ваша успешность в первую очередь зависит от вас самих.
    </p>
    <br />

    <p align="center">
        <i>
            <b>
                Будущее не определено. Нет судьбы, кроме той, что мы творим сами.
                <br />
                - Терминатор 2: Судный день
            </b>
        </i>
    </p>

    <br />
    <h4 align="center">Для пользователей</h4>

    <p>
        Со своей стороны мы постарались как можно лучше  и интересней подать материал. Но ничего не бывает идеального, для одних такой подход понравиться,
        другим нет. Мы тоже люди и можем допускать ошибки, по этому, просим вас отнестись с пониманием, лучший способ нам помочь это быть с нами на связи. Мы всегда
        открыты к общению с нашими пользователями.
    </p>

    <h4 align="center">Как с нами связаться?</h4>

    <p>
        Вас всегда услышат и оперативно ответят по почте <strong>Email:</strong>   <a href="mailto:frivnema@gmail.com">frivnema@gmail.com</a><br />Также вы можете связаться с нами через сайт, для этого зарегистрируйтесь,
        перейдите в Меню –>Контакты и администрация ответит на ваши сообщения, предложения, жалобы и т.д.
    </p>
}

