
@{
    ViewBag.Title = "ErrorConfirmOldPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<font color="red">
    <h3 style="text-align:left;" class="name_page">ErrorConfirmOldPassword</h3>
    <h4 class="message_page">Ошибка подтверждения пароля - старый пароль указан не верно.</h4>
</font>

